<div class="container-login-signup">
  <h2 class="login-signup-margin login-signup-title"> Log In </h2>

  <form action="/login" method="post">
    <div class="login-signup-margin">
      <input type="checkbox" value="isAChef" name="isAChef" id="isAChef">
      <label for="isAChef">I'm a cook</label>
    </div>

    <div class="login-signup-margin login-input-position">
      <label for="email-input"> Email </label>
      <input class="login-inputs" type="email" name="email" id="email-input" placeholder="e.g., xena@warrior.company">
    </div>

    <div class="login-signup-margin login-input-position">
      <label for="password-input"> Password </label>
      <input class="login-inputs" type="password" name="password" id="password-input" placeholder="e.g., ••••••••••••">
    </div>

    <button class="login-signup-margin login-signup-button"> Log In </button>
  </form>

  <p>
    Don't have an account?
  <p>

    {{#if errorMessage}}
  <p class=" error-message">
    {{ errorMessage }}
  </p>
  {{/if}}

  <a href="/signup-chef">
    Sign up as a chef
  </a><br>
  <a href="/signup-user">
    Sign up as a user
  </a>
  </p>
</div>