<div class="container-pages">
  <h2 class="input-margin all-page-titles"> Log In </h2>

  <form action="/login" method="post">
    <a id="isAChef" class="input-margin">
      <input type="checkbox" value="isAChef" name="isAChef" id="isAChef">
      <label for="isAChef">I'm a cook</label>
    </a>

    <div class="input-margin">
      <label for="email-input"> Email </label>
      <input class="login-inputs border-inputs" type="email" name="email" id="email-input"
        placeholder="e.g., xena@warrior.company">
    </div>

    <div class="input-margin">
      <label for="password-input"> Password </label>
      <input class="login-inputs border-inputs" type="password" name="password" id="password-input"
        placeholder="e.g., ••••••••••••">
    </div>

    <button class="input-margin allButtons"> Log In </button>
  </form>

  <p>
    Don't have an account?
  <p>

    {{#if errorMessage}}
  <p class=" error-message">
    {{ errorMessage }}
  </p>
  {{/if}}

  <a href="/signup-chef">
    Sign up as a chef
  </a><br>
  <a href="/signup-user">
    Sign up as a user
  </a>
  </p>
</div>