<div class="container-pages">
    <h2 class="all-page-titles"> Create a user account </h2>

    <form action="/signup-user" method="post" enctype="multipart/form-data">
        {{> signup}}
        <section class="radio-buttons input-margin">
            <label>Diet:</label>
            <br>
            <input type="radio" id="all" name="diet" value="All" checked>
            <label for="all">All</label>

            <input type="radio" id="vegetarian" name="diet" value="Vegetarian">
            <label for="vegetarian">Vegetarian</label>

            <input type="radio" id="vegan" name="diet" value="Vegan">
            <label for="vegan">Vegan</label>
        </section>

        <hr class="separation-line">

        <section class="input-margin section-allergies">
            <label>Allergies:</label>
            <br>

            <div id="container-all-allergies">
                <div class="all-allergies">
                    <input type="checkbox" value="Eggs" name="allergies">
                    <label for="eggs">Eggs</label> <img src="../../images/egg.png" />
                </div>

                <div class="all-allergies">
                    <input type="checkbox" value="Dairy" name="allergies">
                    <label for="dairy">Dairy</label> <img src="../../images/dairy.png" /><br>
                </div>
                <div class="all-allergies">
                    <input type="checkbox" value="Peanuts" name="allergies">
                    <label for="peanuts">Peanuts</label> <img src="../../images/peanut.png" />
                </div>
                <div class="all-allergies">
                    <input type="checkbox" value="Tree nuts" name="allergies">
                    <label for="treenuts">Tree nuts</label> <img src="../../images/walnut.png" /><br>
                </div>
                <div class="all-allergies">
                    <input type="checkbox" value="Fish" name="allergies">
                    <label for="fish">Fish</label> <img src="../../images/fish.png" />
                </div>
                <div class="all-allergies">
                    <input type="checkbox" value="Shellfish" name="allergies">
                    <label for="shellfish">Shellfish</label> <img src="../../images/shellfish.png" /><br>
                </div>
                <div class="all-allergies">
                    <input type="checkbox" value="Wheat" name="allergies">
                    <label for="wheat">Wheat</label> <img src="../../images/wheat.png" />
                </div>
                <div class="all-allergies">
                    <input type="checkbox" value="Soy" name="allergies">
                    <label for="soy">Soy</label> <img src="../../images/soy.png" /><br>
                </div>
                <div class="all-allergies">
                    <input type="checkbox" value="Legumes" name="allergies">
                    <label for="legumes">Legumes</label> <img src="../../images/legumes.png" />
                </div>
                <div class="all-allergies">
                    <input type="checkbox" value="Gluten" name="allergies">
                    <label for="gluten">Gluten</label> <img src="../../images/gluten.png" /><br>
                </div>
                <div class="all-allergies">
                    <input type="checkbox" value="Vegetables" name="allergies">
                    <label for="vegetables">Vegetables</label> <img src="../../images/vegetables.png" />
                </div>
                <div class="all-allergies">
                    <input type="checkbox" value="Fruits" name="allergies">
                    <label for="fruits">Fruits</label> <img src="../../images/fruits.png" />
                </div>
            </div>
        </section>

        <hr class="separation-line">

        <div class="input-margin">
            <label>Profile Picture:</label>
            <input type="file" name="photo">
        </div>

        <hr class="separation-line">

        <div class="input-margin">
            <label for="password-input"> Password:</label><br>
            <input class="border-inputs" type="password" name="password" id="password-input"
                placeholder="e.g., ••••••••••••">
        </div>

        <div class="input-margin">
            <label for="repeat-password-input">Repeat your password:</label><br>
            <input class="border-inputs" type="password" name="repeatPassword" id="repeat-password-input"
                placeholder="e.g., ••••••••••••">
        </div>

        <hr class="separation-line">

        <div class="input-margin">
            <img src="../../images/facebook.png" />
            <input class="border-inputs" type="text" name="facebook">
        </div>

        <div class="input-margin">
            <img src="../../images/instagram.png" />
            <input class="border-inputs" type="text" name="instagram" placeholder="">
        </div>

        <div class="input-margin">
            <img src="../../images/twitter.png" />
            <input class="border-inputs" type="text" name="twitter" placeholder="">
        </div>

        {{#if errorMessage}}
        <p class="error-message">
            {{ errorMessage }}
        </p>
        {{/if}}

        <br>
        <button class="allButtons">Create a new account</button>
    </form>

    <p class="input-margin">
        Already have an account?
        <a href="/login">Log in.</a>
    </p>
</div>