<div class="container-pages">
    <h2 class="all-page-titles"> Sign up as a chef </h2>

    <form action="/signup-chef" method="post" enctype="multipart/form-data">
        {{> signup}}

        <hr class="separation-line">

        <label for="mainCookSpecialty">Main cook specialty</label>
        <br>
        <input class="border-inputs" id="mainCookSpecialty" type="text" name="mainCookSpecialty"
            placeholder="Indian, Thai, Italian...">

        <hr class="separation-line">

        <section class="input-margin">
            <label>Working days:</label>
            <br>
            <input type="checkbox" value="Monday" name="workingDays">
            <label for="monday">Monday</label>

            <input type="checkbox" value="Tuesday" name="workingDays">
            <label for="tuesday">Tuesday</label>

            <input type="checkbox" value="Wednesday" name="workingDays">
            <label for="wednesday">Wednesday</label><br>

            <input type="checkbox" value="Thursday" name="workingDays">
            <label for="thursday">Thursday</label>

            <input type="checkbox" value="Friday" name="workingDays">
            <label for="friday">Friday</label>

            <input type="checkbox" value="Saturday" name="workingDays">
            <label for="saturday">Saturday</label>

            <input type="checkbox" value="Sunday" name="workingDays">
            <label for="sunday">Sunday</label>
        </section>

        <hr class="separation-line">

        <div class="input-margin">
            <label>Profile Picture:</label>
            <input type="file" name="photo">
        </div>

        <hr class="separation-line">

        <div class="input-margin">
            <label for="password"> Password:</label>
            <br>
            <input class="border-inputs" type="password" name="password" id="password" placeholder="e.g., ••••••••••••">
        </div>

        <div class="input-margin">
            <label for="repeat-password-input">Repeat your password:</label>
            <br>
            <input class="border-inputs" type="password" name="repeatPassword" id="repeat-password-input"
                placeholder="e.g., ••••••••••••">
        </div>

        <hr class="separation-line">

        <div class="input-margin">
            <img src="../../images/facebook.png" />
            <input class="border-inputs" type="text" name="facebook" placeholder="">
        </div>

        <div class="input-margin">
            <img src="../../images/instagram.png" />
            <input class="border-inputs" type="text" name="instagram" placeholder="">
        </div>

        <div class="input-margin">
            <img src="../../images/twitter.png" />
            <input class="border-inputs" type="text" name="twitter" placeholder="">
        </div>

        {{#if errorMessage}}
        <p class="error-message">
            {{ errorMessage }}
        </p>
        {{/if}}

        <br>
        <button class="allButtons">Create a new account</button>
    </form>

    <p class="input-margin">
        Already have an account?
        <a href="/login">Log in.</a>
    </p>
</div>