<label for="mainSpecialty">Main cook specialty</label>
<input id="mainSpecialty" type="text" name="mainSpecialty" placeholder="Indian, Thai, Italian">

<section>
    <input type="checkbox" name="monday">
    <label for="monday">Monday</label>

    <input type="checkbox" name="tuesday">
    <label for="tuesday">Tuesday</label>

    <input type="checkbox" name="wednesday">
    <label for="wednesday">Wednesday</label>

    <input type="checkbox" name="thursday">
    <label for="thursday">Thursday</label>

    <input type="checkbox" name="friday">
    <label for="friday">Friday</label>

    <input type="checkbox" name="saturday">
    <label for="saturday">Saturday</label>

    <input type="checkbox" name="sunday">
    <label for="sunday">Sunday</label>
</section>