<div>
    <label for="name-input"> Name </label>
    <input type="text" name="name" id="name-input" placeholder="e.g., Diana Prince">
</div>

<div>
    <label for="email-input"> Email </label>
    <input type="email" name="email" id="email-input" placeholder="e.g., diana@themyscira.agency">
</div>

<div>
    <label for="phone-input"> Phone number </label>
    <input type="text" name="phoneNumber" id="phone-input" placeholder="+3400000000">
</div>

<div>
    <label for="address-input"> Address </label>
    <input type="text" name="address" id="address-input" placeholder="Calle Valencia, 235 Barcelona">
</div>

<!--Add comment for +18 y/o-->
<div>
    <label for="age-input"> Age </label>
    <input type="text" name="age" id="age-input" placeholder="25">
</div>