<div>
    <label for="name-input"> Name </label>
    <input class="border-inputs input-margin" type="text" name="name" id="name-input" placeholder="Joel Robuchon">
</div>

<div>
    <label for="email-input"> Email </label>
    <input class="border-inputs input-margin" type="email" name="email" id="email-input" placeholder="test@test.com">
</div>

<div>
    <label for="phone-input"> Number </label>
    <input class="border-inputs input-margin" type="text" name="phoneNumber" id="phone-input" placeholder="+3400000000">
</div>

<div>
    <label for="address-input"> Address </label>
    <input class="border-inputs input-margin" type="text" name="address" id="address-input"
        placeholder="Calle Valencia, 235 Barcelona">
</div>

<!--Add comment for +18 y/o-->
<div>
    <label for="age-input"> Age </label>
    <input class="border-inputs input-margin" type="text" name="age" id="age-input" placeholder="25">
</div>