<section class="radio-buttons">
    <span>Diet:</span>
    <input type="radio" id="all" name="allType" value="All" checked>
    <label for="all">All</label>

    <input type="radio" id="vegetarian" name="vegetarianType" value="Vegetarian">
    <label for="vegetarian">Vegetarian</label>

    <input type="radio" id="vegan" name="veganType" value="Vegan">
    <label for="vegan">Vegan</label>
</section>

<section>
    <input type="checkbox" name="eggs">
    <label for="eggs">Eggs</label>

    <input type="checkbox" name="dairy">
    <label for="dairy">Dairy</label>

    <input type="checkbox" name="peanuts">
    <label for="peanuts">Peanuts</label>

    <input type="checkbox" name="treenuts">
    <label for="treenuts">Tree nuts</label>

    <input type="checkbox" name="fish">
    <label for="fish">Fish</label>

    <input type="checkbox" name="shellfish">
    <label for="shellfish">Shellfish</label>

    <input type="checkbox" name="wheat">
    <label for="wheat">Wheat</label>

    <input type="checkbox" name="soy">
    <label for="soy">Soy</label>

    <input type="checkbox" name="legumes">
    <label for="legumes">Legumes</label>

    <input type="checkbox" name="gluten">
    <label for="gluten">Gluten</label>

    <input type="checkbox" name="vegetables">
    <label for="vegetables">Vegetables</label>

    <input type="checkbox" name="fruits">
    <label for="fruits">Fruits</label>
</section>