<div class="container-pages container-faq">
    <h2 class="all-page-titles"> Frequently Asked Questions</h2>
    <hr>
    <br>

    <div id="container-accordion">
        <main id="accordion">
            <section id="item1">
                <a href="#item1">
                    <h5 class="faq-titles">How can I book a chef to cook for me?</h5>
                </a>
                <div class="container-faq-answers">
                    <p class="faq-answers">
                        First, you need to sign up in order to be able to book the chef of your choice. Once you logged
                        in
                        and
                        find the perfect recipe for your food, you will have access to a booking form. Fulfill it with
                        the
                        requested information and that's it! Our chefs will come back to you ASAP</p>
                </div>
            </section>

            <hr class="separation-line">

            <section id="item2">
                <a href="#item2">
                    <h5 class="faq-titles">What should I do on D-day?</h5>
                </a>
                <div class="container-faq-answers">
                    <p class="faq-answers">
                        On D-Day, your home cook comes to your home with all the ingredients, takes over your kitchen
                        and
                        begins
                        to prepare. You can then discuss with the chef, his cuisine, his history or any other subject,
                        or
                        just
                        take the time to enjoy.</p>
                </div>
            </section>

            <hr class="separation-line">

            <section id="item3">
                <a href="#item3">
                    <h5 class="faq-titles">Who cleans the kitchen?</h5>
                </a>
                <div class="container-faq-answers">
                    <p class="faq-answers">
                        The chef, once the meal is ready, takes care of cleaning the kitchen to return it to you as you
                        left
                        it.
                        Once these tasks are completed and the menu presented, he lets you enjoy your guests.</p>
                </div>
            </section>

            <hr class="separation-line">

            <section id="item4">
                <a href="#item4">
                    <h5 class="faq-titles">How far in advance should I order?</h5>
                </a>
                <div class="container-faq-answers">
                    <p class="faq-answers">You can order whenever you want to book a chef's service at home. Better to
                        notify the chef 48
                        hours
                        in
                        advance so that he has time to organize himself and find all the ingredients.

                        However, if you've spotted a boss and only want him or her, it's best to anticipate. If it is
                        not
                        available, we can suggest other chefs who will be happy to come and cook at your home.
                    </p>
                </div>
            </section>

            <hr class="separation-line">

            <section id="item5">
                <a href="#item5">
                    <h5 class="faq-titles">Where are the ingredients for the dishes offered on purchased?</h5>
                </a>
                <div class="container-faq-answers">
                    <p class="faq-answers">The ingredients are purchased by the chef as if he were cooking it for
                        himself. Cooketh wants you
                        to
                        taste
                        authentic specialties, it is important that the chef at home chooses his own ingredients and
                        spices.
                        This
                        way,
                        his specialty will always taste the same, whether he made it at your place or at his previous
                        clients.
                    </p>
                </div>
            </section>

            <hr class="separation-line">

            <section id="item6">
                <a href="#item6">
                    <h5 class="faq-titles">How do I know the list of ingredients for the dishes I am going to order and
                        make sure they are
                        compatible
                        with
                        our dietary restrictions?</h5>
                </a>
                <div class="container-faq-answers">
                    <p class="faq-answers">As with the ingredients, allergies or dietary restrictions are indicated
                        below each dish. If this
                        information is
                        missing, do not hesitate to ask for it when ordering or to discuss it directly with your chef,
                        who
                        will
                        surely
                        know how to adapt his recipe.
                    </p>
                </div>
            </section>

            <hr class="separation-line">

            <section id="item7">
                <a href="#item7">
                    <h5 class="faq-titles">What happens after I book a chef?</h5>
                </a>
                <div class="container-faq-answers">
                    <p class="faq-answers">Once your reservation has been made, the chef will collect the information
                        concerning it, check
                        availability
                        in
                        order to confirm the reservation within 24 hours maximum. Once everything is validated, you can
                        proceed
                        to
                        the
                        payment of the order which will definitely mark the chef's reservation for the chosen date.
                    </p>
                </div>
            </section>

            <hr class="separation-line">

            <section id="item8">
                <a href="#item8">
                    <h5 class="faq-titles">Can I cancel or modify my order?</h5>
                </a>
                <div class="container-faq-answers">
                    <p class="faq-answers">Once your order has been confirmed, you can choose to cancel it at any time.
                        If the cancellation
                        occurs
                        more
                        than 72 hours before the date of the service, you will be refunded the full amount less € 5. If
                        the
                        cancellation
                        occurs within 48 hours of the date of the service, we will only be able to reimburse you for
                        half of
                        your
                        order
                        to cover the costs advanced by the chef.
                    </p>
                </div>
            </section>
        </main>
    </div>
</div>