<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!--Si le user est co, on affiche son nom-->
{{#if userIsLoggedIn}}
<p>Hello, {{currentUserInfo.name}}</p>
{{/if}}

<!--on change également le menu-->
{{#if userIsLoggedIn}}
<li><a href="/createRecipe">create a new recipe</a></li>
<li> <a href="/logout"> Log Out </a> </li>
{{else}}
<li> <a href="/signup-chef"> Sign Up as a chef </a> </li>
<li> <a href="/signup-user"> Sign Up as a user </a> </li>
<li> <a href="/login"> Log In </a> </li>
{{/if}}