<p>Welcome to {{title}}</p>

<video id="main-video" preload="auto" loop muted playsinline="true" webkit-playsinline="true" autoplay>
    <source src="https://anotherchef.com/assets/videos/header.mp4" type="video/mp4">
</video>

<!--Si le user est co, on affiche son nom-->
{{#if userIsLoggedIn}}
<p>Hello, {{currentUserInfo.name}} </p>
{{/if}}