<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!--RESET CSS-->
  <link rel="stylesheet" type="text/css" href="./stylesheets/reset.css">
  <!--CSS-->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <button><a href="/">Home</a></button>
  <button><a href="/faq">F.A.Q</a></button>
  {{#if currentUserInfo.isAChef}}
  <button><a href="/bookings">My bookings</a></button>
  <button><a href="/profile-chef">My profile </a></button>
  <button><a href="/logout">Log Out</a></button>
  {{else if currentUserInfo.isAUser}}
  <button><a href="/bookings">My bookings</a></button>
  <button><a href="/profile-user">My profile </a></button>
  <button><a href="/logout">Log Out</a></button>
  {{/if}}

  {{{body}}}
  <script type="text/javascript" src="../routes/auth.js"></script>
</body>

</html>