/*GENERAL SETTINGS*/
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #faf8f0;
}

a {
  color: #00b7ff;
}

input {
  background-color: #faf8f0;
}

.navbarColor {
  background-color: #e07a5f;
}

h1,
h2,
h3 {
  font-family: "Poiret One", cursive;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
}

#logo {
  width: 100px;
}

.navbar-brand {
  width: 25%;
}

.nav-link {
  font-size: 18px;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

.allButtons {
  background-color: #e07a5f;
  color: white;
  font-size: 13px;
  padding: 0.4em 0.8em;
  border: 1px solid #e07a5f;
  border-radius: 5px;
  transition: 0.5s;
  align-self: center;
}

.allButtons:hover {
  background-color: white;
  color: #e07a5f;
  font-size: 15px;
  font-weight: bold;
}

/*HOME PAGE: section video-title*/
#container-homepage {
  max-height: 3800px;
}

.titles-homepage {
  color: #e07a5f;
  text-align: center;
}

#video-title {
  overflow: hidden;
}

#main-video {
  position: relative;
  filter: brightness(0.4);
  bottom: 15em;
  right: 22rem;
  height: 48rem;
}

#container-title-catchy-phrase {
  position: relative;
  bottom: 36em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-title-homepage {
  color: white;
  font-size: 30px;
  text-shadow: 0 0 2px;
}

#container-title-catchy-phrase p {
  color: white;
  font-size: 20px;
}

#button-find-cook {
  background-color: #e07a5f;
  color: white;
  font-size: 13px;
  padding: 0.4em 0.8em;
  border: 1px solid #e07a5f;
  border-radius: 5px;
  transition: 0.5s;
}

#button-find-cook:hover {
  background-color: white;
  color: #e07a5f;
  font-size: 15px;
  font-weight: bold;
}

/*HOMEPAGE: section concept*/
#concept {
  position: relative;
  bottom: 20em;
  text-align: center;
  margin: 0 2rem;
}

#container-concept {
  justify-content: center;
  margin: 0;
}

.concept {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  margin: 1rem 3rem;
}

.decoration-concept {
  display: flex;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  border: 1px solid;
  justify-content: center;
  align-items: center;
}

.img-concept {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: 0.5s;
}

.img-concept:hover {
  width: 165px;
  height: 165px;
}

.resize-concept-img {
  width: 85px;
}

.resize-concept-dinner {
  width: 100px;
}

.concept-recipe {
  background-color: #e07a5f;
}

.concept-signup {
  background-color: #56494e;
}

.concept-reserved {
  background-color: #81b29a;
}

.concept-dinner {
  background-color: #f2cc8f;
}

/*HOMEPAGE: section ideas*/

#ideas {
  position: relative;
  bottom: 17em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-info {
  margin: 1em;
}

.ideas-recipes {
  border: 1px solid;
  margin: 0.5em;
  padding: 0.5em;
}

.idea-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.idea-title {
  font-size: 20px;
  font-weight: bold;
}

.homepage-img-info-chef {
  display: flex;
  justify-content: center;
}

.homepage-info-chef {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
}

/*--------------LOGIN & SIGNUP---------------*/
.container-pages {
  text-align: center;
  margin: 3em 0;
  font-size: 13px;
}

.login-input-position {
  text-align: right;
}

.login-inputs {
  margin: 0 1em 0 2em;
}

.border-inputs {
  border: 0;
  border-bottom: 1px solid #56494e;
}

.input-margin {
  margin: 1em;
}

.all-page-titles {
  color: #e07a5f;
  font-size: 35px;
}

.all-button {
  background-color: #e07a5f;
  color: white;
  font-size: 13px;
  padding: 0.4em 0.8em;
  border: 1px solid #e07a5f;
  border-radius: 5px;
  transition: 0.5s;
}

.all-button:hover {
  background-color: white;
  color: #e07a5f;
  font-size: 15px;
  font-weight: bold;
}

/*SIGNUP USER*/
.separation-line {
  border: 1px solid #e07a5f;
  width: 75%;
}

#container-all-allergies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*CREATE RECIPE*/
.create-recipe-margin-title {
  margin-bottom: 1em;
}

/*----------------FULL RECIPES---------------*/
.container-recipes {
  display: flex;
  flex-wrap: wrap;
}

.recipes {
  width: 14.7em;
  border: 1px solid;
  margin: 0.5em;
  padding: 0.5em;
}

.img-recipe {
  width: 100%;
  height: 26vh;
}

.pic-cooker-list-recipe {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: 2px solid;
}

.list-recipes-margin {
  margin-bottom: .8em;
}

/*ONE RECIPE*/
.container-recipe-info {
  display: flex;
}

.img-info-recipe {
  width: 100%;
  margin-bottom: 1em;
}

.info-recipe-margin {
  margin: 1em 0;
}

.info-recipe-form-margin {
  margin-bottom: 2em;
}

.font-size-one-recipe {
  font-size: 15px;
  margin-top: 1em;
}

/*-----------------MY BOOKINGS----------------*/
.img-recipe-bookings {
  width: 20%;
}

/*CHEF PROFILE*/



.cocinitas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.position-chef {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#test {
  display: flex;
  flex-direction: column;
}

.profile-pic {
  width: 16rem;
  height: 16rem;
  border-radius: 150px;
  border: 2px solid;
  margin-top: 1rem;
}

.card {
  margin: 1rem;
  text-align: center;
}

.card-body {
  padding: 1.25rem 1.25rem 0.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-body p {
  width: 16rem;
}

.card-img-top {
  width: 18rem;
  text-align: center;
}

.recipes-position {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.img-hover-zoom {
  overflow: hidden;
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover {
  transform: scale(1.07);
  position: static;
}

.moreButton {
  box-shadow: 2px 2px 0px 1px #000000;
  background: linear-gradient(to bottom, #ffffff 5%, #e6e0b8 100%);
  background-color: #ffffff;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #0a0a0a;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 15px;
  text-decoration: none;
  text-align: center;
  align-self: center;
}

.moreButton:hover {
  background: linear-gradient(to bottom, #e6e0b8 5%, #ffffff 100%);
  background-color: #e6e0b8;
}

.moreButton:active {
  position: relative;
  top: 1px;
}

/*EDIT RECIPE*/
.edit-recipe-title {
  font-size: 30px;
}

/*-----------------FOOTER---------------------*/
footer {
  background-color: #e07a5f;
}

#container-arrow-footer {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e07a5f;
  bottom: 0.9em;
  left: 9em;
}

#container-arrow-footer img {
  width: 20px;
}

#container-footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5em;
}

.footer-icons {
  width: 35px;
  margin: 0.5em;
}