body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container-recipes {
  display: flex;
  flex-wrap: wrap;
}

.recipes {
  width: 20%;
  border: 1px solid;
  margin: .5em;
  padding: .5em;
}

.recipes img {
  width: 100%;
  height: 26vh;
}