body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#logo {
  width: 9%;
}

/*HOME PAGE*/
#main-video {
  width: 100%;
}

/*FULL RECIPES*/
.container-recipes {
  display: flex;
  flex-wrap: wrap;
}

.container-info {
  display: flex;
}

.recipes {
  width: 14.7em;
  border: 1px solid;
  margin: .5em;
  padding: .5em;
}

.img-recipe {
  width: 100%;
  height: 26vh;
}

.pic-cooker-list-recipe {
  width: 100%;
}

/*ONE RECIPE*/
.container-recipe-info {
  display: flex;
}

.img-info-recipe {
  width: 50%;
}

/*MY BOOKINGS*/
.img-recipe-bookings {
  width: 20%;
}